@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  --ui-radius: 0.5rem;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled),
  input[type="button"]:not(:disabled),
  input[type="submit"]:not(:disabled),
  input[type="reset"]:not(:disabled) {
    cursor: pointer;
  }
}
